.vs/Algorithm/v16/.suo
obj/Algorithm.csproj.nuget.dgspec.json
obj/Algorithm.csproj.nuget.g.props
obj/Algorithm.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/Algorithm.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Algorithm.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Algorithm.assets.cache
obj/Debug/netcoreapp3.1/Algorithm.csprojAssemblyReference.cache
